node_modules
data
storage
temp
logs
dist
packages/shared/src/generated
.env

.env
.env.*

*.local.*
*.local

!*.example

*.bak

sites/*
!sites/example
!sites/example/.env.deploy
!sites/example/compose.yaml
